@media(max-width: 500px) {
    .menu-wrap {
        & .menu > div {
            border-radius: 50%;
            width: 300vh;
            height: 300vh;
        }
    }

   #showcase {
     h1 {
         font-size: 2.5rem;
     }
   }
}