// Img
$main-bg: url('/dist/images/mainbg.jpg');
// Colors: Transparent
$primary-tColor: rgba(13, 110, 139, 0.75);
$secondary-tColor: rgba(229, 148, 0, 0.9);
$overlay-color: rgba(24, 39, 51, 0.85);

//Colors: Non-Transparent
$primary-Color: rgb(13, 110, 139);
$secondary-color: rgb(229, 148, 0);

// Utility Variables
$menu-speed: 0.2s;