// Img
$main-bg: url("/dist/images/mainbg.jpg");
// Colors: Transparent
$primary-tColor: rgba(13, 110, 139, 0.75);
$secondary-tColor: rgba(229, 148, 0, 0.9);
$overlay-color: rgba(24, 39, 51, 0.85);
$light-color: rgba(164, 201, 212, 0.5);

// Utility Variables
$menu-speed: 0.2s;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
