@import 'variables';
@import 'utilities';
@import 'contact';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #333;
  color: #f4f4f4;
}

ul,
li,
a {
  text-decoration: none;
}

li {
  .current {
    border-left: $secondary-tColor 1px solid;
    padding-left: 0.5rem;
  }
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#showcase {
  background: $primary-tColor;
  color: #fff;
  height: 100vh;
  position: relative;

  &:before {
    content: '';
    background: $main-bg no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  & .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  &-inner {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background: $primary-tColor;
    color: #fff;
    height: 100vh;
    height: 10rem;
    border-bottom: 3px solid $secondary-tColor;

    &:before {
      content: '';
      background: $main-bg no-repeat 20% 15% / cover;
      position: absolute;
      width: 100%;
      height: 100vh;
      height: 10rem;
      z-index: -1;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 4rem;
  }

  p {
    font-size: 1.3rem;
  }

  span {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $secondary-tColor;
  }

  & .btn {
    display: inline-block;
    border: none;
    background: $primary-tColor;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    transition: all 1s ease-in-out;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
}

.page-header h1 {
  display: flex;
}

.page-container {
  height: 90vh;
  width: 100vw;
}

// About Sections

// Footer
#main-footer {
  background: $overlay-color;
  color: #fff;
  height: 5rem;
  border-top: 3px solid $secondary-tColor;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      box-sizing: content-box;
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $primary-tColor;
      }
    }
    a {
      color: #fff;
    }
  }
}

@import 'menu';
@import 'project_cards';
@import 'media';
